.wrapper{
 height:500px;
 background-color:#eeeeee;
}

.menu ul {
  list-style:none;
  display:flex;
  justify-content:space-around;
}
li {
  padding:5px;
  margin:5px;
  width:20%;
  border:1px solid #565656;
  text-align:center;
}

.content{
  width:100%;
  background-color:red;
  display:flex;
 } 

.main{
  width:70%;
  background-color:rgba(90, 20, 180, 1);
}

.side{
  width:30%;
  background-color:rgba(2,170,135,0.7)
}
.main-inside{
  display:flex;
  width:100%;
  margin-bottom:10px;
}
.main-inside img{
 width:30%;
}

.main-inside-text{
  width:70%;
  overflow:scroll;
}










 
